<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Livro</title>
    <link rel="stylesheet" href="estilo/style.css">
    
</head>
<body>
    <header>
        <img class="logo" src="imagens/logo-relida.jpeg" alt="">
        <h1 id="titulo">Cadastrar Livro</h1>
        <nav>
            <ul>
                <li><a href="#" class="menu" >Menu</a>
                    <ul>
                        <li>
                            <a href="#" class="menu-dropbox">Catálogo</a>
                                <ul>
                                    <li><a href="" class="catalogo">Romance</a></li>
                                    <li><a href="" class="catalogo">Drama</a></li>
                                    <li><a href="" class="catalogo">Ficção Cientifica</a></li>
                                    <li><a href="" class="catalogo">Fantasia</a></li>
                                    <li><a href="" class="catalogo">Suspense</a></li>
                                    <li><a href="" class="catalogo">História em Quadrinhos</a></li>
                                    <li><a href="" class="catalogo">Literatura Brasileira</a></li>
                                    <li><a href="" class="catalogo">Literatura Infantil</a></li>
                                    <li><a href="" class="catalogo">Literatura Infanto-Juvenil</a></li>
                                    <li><a href="" class="catalogo">Literatura Estrangeira</a></li>
                                    <li><a href="" class="catalogo">Terror</a></li>
                                    <li><a href="" class="catalogo">Autobiografia</a></li>
                                    <li><a href="" class="catalogo">AutoAjuda</a></li>
                                    <li><a href="" class="catalogo">Outros</a></li>
                                </ul>
                        </li>
                        <li><a href="#" class="menu-dropbox">Carrinho</a></li>
                        <li><a href="#" class="menu-dropbox">Cadastrar Livros</a></li>
                        <li><a href="#" class="menu-dropbox">Meus Pedidos</a></li>
                    </ul>
                    </div>
                <li><a href="" class="menu">Ofertas</a></li>
                <li>
                    <a href="" class="menu">Perfil</a>
                        <ul>
                            <li><a href="" class="perfil">Meu Perfil</a></li>
                            <li><a href="" class="perfil">Editar Perfil</a></li>
                        </ul>
                </li>
                <li>
                    <a href="" class="menu">Login</a>
                        <ul>
                            <li><a href="" class="login">Entrar</a></li>
                            <li><a href="" class="login">Cadastrar</a></li>
                        </ul>
                </li>                 
                <li><a href="" class="menu">Quem Somos?</a></li> 
            </ul>
        </nav>
    <header>
    <img id="fundo"src="https://img.freepik.com/fotos-premium/estante-turva-muitos-livros-antigos-em-uma-livraria-ou-biblioteca_36051-477.jpg?w=826" alt="">
    <main>
        <form action="">
        <fieldset>
            <legend id="subtitulo">Cadastre seu livro aqui</legend>
        <div>
        <label for="" class="operacao">Você irá colocar seu livro para</label>
        <select class="operacao">
            <option value="">Selecione</option>
            <option>Venda</option>
            <option>Troca</option>
            <option>Doação</option>
        </select>
        <label for="valorlivro" id="tvalorlivro" placeholder="Digite o valor do livro">Valor</label>
        <input type="number" id="valorlivro" name="valorlivro"><br>
        <label for=""> Titulo do Livro</label>
        <input type="text" id="ttulo"> 
        <label for="">Autor do Livro</label>
        <input type="text" id="autor">
        <label for="">Ano de Edição</label>
        <input type="number" id="ano">
        <label for="">Escolha a Categoria do Livro</label>
        <select id="categoria">
            <option>Selecione</option>
            <option>Romance</option>
            <option>Drama</option>
            <option>Ficção Cientifica</option>
            <option>Fantasia</option>
            <option>Suspense</option>
            <option>História em Quadrinhos</option>
            <option>Literatura Brasileira</option>
            <option>Literatura Infantil</option>
            <option>Literatura Infanto-Juvenil</option>
            <option>Literatura Estrangeira</option>
            <option>Terror</option>
            <option>Autobiografia</option>
            <option>AutoAjuda</option>
            <option>Outros</option>

        </select>
        <label for="">Outros</label>
        <input type="text" id="outros">
        <label for="">CEP</label>
        <input type="text"><br>
        <label for="capa">Adicione uma foto do livro</label>
        <input type="file" id="capa" name="capa">
        <input type="submit" value="Adicionar" class="adicionar"><br>
        <label for="">Adicione um Comentário</label> 
        <textarea name="" id="comentario" cols="30" rows="10"></textarea>
        <input type="submit" value="Adicionar" class="adicionar"><br>
        <button type="reset">Cancelar</button>
        <button type="submit">Salvar</button>
        </div>
        </fieldset>
        </form>
    </main>
        
           
       
    <footer>
        <div id="fundo">
        <img src="https://img.freepik.com/fotos-gratis/arranjo-de-livros-antigos-com-espaco-de-copia_23-2148898331.jpg?t=st=1657754800~exp=1657755400~hmac=21bb12d15d62ecf7cec0deb93f9c3a110ff1749c8fbeea6373c7be6e8e546108&w=740" alt="">
        <img src="https://img.freepik.com/fotos-gratis/arranjo-de-livros-antigos-com-espaco-de-copia_23-2148898331.jpg?t=st=1657754800~exp=1657755400~hmac=21bb12d15d62ecf7cec0deb93f9c3a110ff1749c8fbeea6373c7be6e8e546108&w=740" alt="">
        <img src="https://img.freepik.com/fotos-gratis/arranjo-de-livros-antigos-com-espaco-de-copia_23-2148898331.jpg?t=st=1657754800~exp=1657755400~hmac=21bb12d15d62ecf7cec0deb93f9c3a110ff1749c8fbeea6373c7be6e8e546108&w=740" alt="">
        <img src="https://img.freepik.com/fotos-gratis/arranjo-de-livros-antigos-com-espaco-de-copia_23-2148898331.jpg?t=st=1657754800~exp=1657755400~hmac=21bb12d15d62ecf7cec0deb93f9c3a110ff1749c8fbeea6373c7be6e8e546108&w=740" alt="">
        <img src="https://img.freepik.com/fotos-gratis/arranjo-de-livros-antigos-com-espaco-de-copia_23-2148898331.jpg?t=st=1657754800~exp=1657755400~hmac=21bb12d15d62ecf7cec0deb93f9c3a110ff1749c8fbeea6373c7be6e8e546108&w=740" alt="">
        <img src="https://img.freepik.com/fotos-gratis/arranjo-de-livros-antigos-com-espaco-de-copia_23-2148898331.jpg?t=st=1657754800~exp=1657755400~hmac=21bb12d15d62ecf7cec0deb93f9c3a110ff1749c8fbeea6373c7be6e8e546108&w=740" alt="">
        <img src="https://img.freepik.com/fotos-gratis/arranjo-de-livros-antigos-com-espaco-de-copia_23-2148898331.jpg?t=st=1657754800~exp=1657755400~hmac=21bb12d15d62ecf7cec0deb93f9c3a110ff1749c8fbeea6373c7be6e8e546108&w=740" alt="">
        <img src="https://img.freepik.com/fotos-gratis/arranjo-de-livros-antigos-com-espaco-de-copia_23-2148898331.jpg?t=st=1657754800~exp=1657755400~hmac=21bb12d15d62ecf7cec0deb93f9c3a110ff1749c8fbeea6373c7be6e8e546108&w=740" alt="">
        <img src="https://img.freepik.com/fotos-gratis/arranjo-de-livros-antigos-com-espaco-de-copia_23-2148898331.jpg?t=st=1657754800~exp=1657755400~hmac=21bb12d15d62ecf7cec0deb93f9c3a110ff1749c8fbeea6373c7be6e8e546108&w=740" alt="">
        </div>
        <div id="rodape">
            <p id="rodape">Site criado por Bruno, Francisco, Larissa, Shirlley e Wandermberg como Projeto Final do Curso Start oferecido pela Rede Cidadã</p>
        </div>
        
    </footer>
 
</body>
</html>